<!--
   Shout-out to AngularJS in 20-ish Minutes
   Dan Wahlin

   @DanWahlin
   http://weblogs.asp.net/dwahlin
   
   1. Data Binding and Directives
   2. Filters
   3. Modules and Controllers
   4. Factories
   5. Routing
   6. Animations
-->
<!DOCTYPE html>
<html ng-app="demoApp">
<head>
	<title>Scripture Match</title>
	<link href="styles/appStyle.css" rel="stylesheet" />
	<link href="styles/animations.css" rel="stylesheet" />
</head>
<body>
    <h3>Scripture Match</h3>
	<div ng-controller="ctrlSummaries">
		<div style="float:right;">
			<div style="text-align: right; color:#1c818f;" ng-click="ShowSettings=!ShowSettings"
			ng-class="{selectedText: ShowSettings}">+ Settings</div>
			<div ng-show="ShowSettings" class="settingsBox">
				<div>
					<input type="checkbox" id="cbGetAll"
						ng-model="Settings.GetAll" />
					<label for="cbGetAll">Get All Chapters in Selected Book</label>
				</div>
				<div>
					<label># of Answers</label>
					<input type="number" min="1" ng-model="Settings.NumAnswers" />
				</div>
				<div style="margin-top: 10px; text-align: right;">
					<button class="btn" style="margin-bottom:0" ng-click="SaveSettings(Settings)">Save Settings</button>
				</div>
			</div>
		</div>
		<div>
			<span class="smallLabel">Testament:</span>
			<select class="card short"
				ng-model="SelectedTestament"
				ng-options="t.DisplayName for t in Summaries.testaments"></select>
			<span class="iconFont" ng-click="SelectedTestament = null">X</span>
		</div>
		<div>
			<span class="smallLabel">Book:</span>		
			<select class="card short"
				ng-model="SelectedBook"
				ng-options="t.DisplayName for t in SelectedTestament.books"></select>
			<span class="iconFont" ng-click="SelectedBook = null">X</span>		
		</div>
		<button ng-click="LoadAnswers()" class="btn">Load Answers</button>
		<div ng-show="Answers.length > 0">
			<div class="clear"></div>
			<div class="leftCol">
				<div ng-repeat="item in [SelectedPrompt]" class="selectedBox">
					<div ng-include="'SummaryTemplate'" ng-init="answer = item"></div>
				</div>
			</div>		
			<div class="rightCol">
				<!-- <div ng-repeat="item in [SelectedAnswer]" class="selectedBox">
					<div ng-include="'ChapterTemplate'" ng-init="answer = item"></div>
				</div> -->
				<div class="cardBox">
					<select class="card" 
						ng-model="SelectedAnswer" 
						ng-options="t.ChapterName for t in Answers | filterUnmatched | orderBy:'ChapterName'"
						ng-change="SelectedAnswerChanged()">
					</select>
					<div ng-show="Match">
						Correct!
						<a style="float:right;" type="button" target="_blank" ng-href="https://www.lds.org/scriptures/{{SelectedAnswer.Link}}">View {{SelectedAnswer.ChapterName}}</a>						
						<input style="margin-top:10px; display:block;" class="btn" type="button" value="Remove" ng-click="RemoveMatch()" />
					</div>
				</div>
			</div>
			<div class="HR clear"></div>			
			<div class="leftCol">
				<div class="container">
					<div ng-repeat="answer in Prompts | filterUnmatched">
						<div ng-include="'SummaryTemplate'"></div>
					</div>
				</div>
			</div>		
			<div class="rightCol">
				<div class="container">
					<div ng-repeat="answer in Answers | filterUnmatched">
						<div ng-include="'ChapterTemplate'"></div>
					</div>
				</div>		
			</div>
		</div>
	</div>
	
	<script type="text/ng-template" id="SummaryTemplate">  
		<div class="cardBox" ng-click="SelectPrompt(answer)">
			<div class="card long">
				<div ng-bind-html="answer.summary">
				</div>
			</div>
		</div>
	</script>
	<script type="text/ng-template" id="ChapterTemplate">   
		<div class="cardBox" ng-click="SelectAnswer(answer)">
			<div class="card">
			{{ answer.ChapterName }}	
			</div>
		</div>
	</script>	
	<script src="lib/jquery-1.8.2.min.js"></script>
    <script src="lib/angular-1.2.25.js"></script>
    <script src="lib/angular-route.js"></script>
    <script src="lib/angular-animate.js"></script>
	<script src="lib/angular-sanitize.min.js"></script>
	<script src="js/app.js"></script>
</body>
</html>